body {
	padding-top: 0px;
}

.content {
	display: none;
}

.login-card {
	width: 60%;
}

.header {
	display: none;
	background-color: #202020;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: auto;
	width: 100%;
}

.header-inner {
	margin: 0;
	padding: 20px;
}

.header-col {
	width: 33.333333333333%;
	height: 100%;
	cursor: pointer;
}

.header-col:hover {
	color: white;
}

.login-content {

}

.container-lg-np {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

.container-lg {
	padding-right: 0px;
	padding-left: 0px;
}

.fullscreen-card {
	width: 100vw;
	height: 100vh;
}

.content-padding {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

hr {
	margin-left: -50px;
	width: 200%;
}

html, body, head {
	padding: 0px;
	margin: 0px;
	border-radius: 0px;
	color: #A7B1B1;
    text-align: left;
    background-color: #121212;
    border: 1px solid #2E2E2E;
    height: 640px;
}

.footer {
	height: 68px;
    background-color: #202020;
    bottom: 0;
    position: absolute;
    width: 356px;
    border-top: 1px solid #2E2E2E;
    padding-top: 14px;
}

.list-group-item {
	color: #A7B1B1;
    background-color: #121212;
    border: none;
}